<h1 style="margin: 1em 0;">Choose your plan</h1>


<div class="large-4 columns">
  <ul class="pricing-table">
    <li class="title">Item 1 (Oneclicpay)</li>
    <li class="price"><%= '%.2f €' % (995.to_f/100) %></li>
    <li class="cta-button"><a class="button" href="/pay/afone?<%= Rack::Utils.build_nested_query(:amount => "995", :title => "Item 1", :locale => "en", :context => @context) %>">Buy Now</a></li>
  </ul>
</div>


<div class="large-4 columns">
  <ul class="pricing-table">
    <li class="title">Item 2 (Mangopay)</li>
    <li class="price"><%= '%.2f €' % (1295.to_f/100) %></li>
    <li class="cta-button"><a class="button" href="/pay/mangopay?<%= Rack::Utils.build_nested_query(:amount => "1295", :context => @context) %>">Buy Now</a></li>
  </ul>
</div>


<form action="/custom-price" method="post">
  <div class="large-4 columns">
    <ul class="pricing-table">
      <li class="title">Custom</li>
      <li class="price">
        <input type="text" name="price" placeholder="Price" style="height: 2rem; margin-bottom: 0;">
      </li>
      <li class="cta-button"><input type="submit" class="button" value="Buy Now"></li>
    </ul>
  </div>
</form>