<h1 style="margin: 1em 0;">Choose your plan</h1>

<% @items.each do |item| %>

  <div class="large-4 columns">
    <ul class="pricing-table">
      <li class="title"><%= item[:name] %></li>
      <li class="price"><%= '%.2f €' % (item[:price].to_f/100) %></li>
      <li class="cta-button"><a class="button" href="/pay/afone?amount=<%= item[:price] %>&title=<%= item[:name] %>&locale=en">Buy Now</a></li>
    </ul>
  </div>

<% end %>


<form action="/custom-price" method="post">
  <div class="large-4 columns">
    <ul class="pricing-table">
      <li class="title">Custom</li>
      <li class="price">
        <input type="text" name="price" placeholder="Price" style="height: 2rem; margin-bottom: 0;">
      </li>
      <li class="cta-button"><input type="submit" class="button" value="Buy Now"></li>
    </ul>
  </div>
</form>