---
http_interactions:
- request:
    method: post
    uri: https://secure.homologation.comnpay.com:60000/rest/payment/find?key=secret_key&serialNumber=tpe_id&transactionRef=123456789_local_id
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"nbTransactions":1,"transaction":[{"transactionId":320,"amount":2000,"ok":1,"confirmed":1,"cardAlias":"HOMOLOGATION_ALIAS","cardEndDate":"1501","cardTruncatedNumber":"411111XXXXXX1111","cardType":"CB","transactionDate":"20131231171044","message":"Paiement
        accepte","responseCode":"200","transactionRef":"123456789_local_id","type":"D","ask3ds":0,"auth3dsCode":null,"auth3dsMessage":null,"enrollment3dsCode":null,"enrollment3dsMessage":null,"askAutor":1,"autorCode":"00","autorNumber":"1234","verifyEnrollment3dsMd":null,"verifyEnrollment3dsPareq":null,"verifyEnrollment3dsActionUrl":null,"verifyEnrollment3dsMpi":null}]}'
  recorded_at: Tue, 22 Apr 2014 08:04:48 GMT

- request:
    method: post
    uri: https://secure.homologation.comnpay.com:60000/rest/payment/find?key=secret_key&serialNumber=tpe_id&transactionRef=123456789_failed_payment
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"nbTransactions":1,"transaction":[{"transactionId":330,"amount":204,"ok":0,"confirmed":1,"cardAlias":"HOMOLOGATION_ALIAS","cardEndDate":"1701","cardTruncatedNumber":"411111XXXXXX1111","cardType":"CB","transactionDate":"20131231163954","message":"Monnaie
        invalide","responseCode":"204","transactionRef":"123456789_failed_payment","type":"D","ask3ds":0,"auth3dsCode":null,"auth3dsMessage":null,"enrollment3dsCode":null,"enrollment3dsMessage":null,"askAutor":1,"autorCode":null,"autorNumber":null,"verifyEnrollment3dsMd":null,"verifyEnrollment3dsPareq":null,"verifyEnrollment3dsActionUrl":null,"verifyEnrollment3dsMpi":null}]}'
  recorded_at: Tue, 31 Dec 2013 16:29:26 GMT

recorded_with: VCR 2.8.0
