---
http_interactions:
- request:
    method: post
    uri: https://secure.homologation.oneclicpay.com:60000/rest/payment/find?key=secret_key&serialNumber=tpe_id&transactionRef=1388506232-VAD-495-130-uuh
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"nbTransactions":1,"transaction":[{"transactionId":331,"amount":990,"ok":1,"confirmed":1,"cardAlias":"HOMOLOGATION_ALIAS","cardEndDate":"1501","cardTruncatedNumber":"411111XXXXXX1111","cardType":"CB","transactionDate":"20131231171044","message":"Paiement
        accepte","responseCode":"200","transactionRef":"1388506232-VAD-495-130-uuh","type":"D","ask3ds":0,"auth3dsCode":null,"auth3dsMessage":null,"enrollment3dsCode":null,"enrollment3dsMessage":null,"askAutor":1,"autorCode":"00","autorNumber":"1234","verifyEnrollment3dsMd":null,"verifyEnrollment3dsPareq":null,"verifyEnrollment3dsActionUrl":null,"verifyEnrollment3dsMpi":null}]}'
  recorded_at: Tue, 31 Dec 2013 16:49:22 GMT

