---
http_interactions:
- request:
    method: post
    uri: https://secure.homologation.oneclicpay.com:60000/rest/payment/find?key=secret_key&serialNumber=tpe_id&transactionRef=1388504385-VAD-495-130-fgj
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"nbTransactions":1,"transaction":[{"transactionId":330,"amount":204,"ok":0,"confirmed":1,"cardAlias":"HOMOLOGATION_ALIAS","cardEndDate":"1701","cardTruncatedNumber":"411111XXXXXX1111","cardType":"CB","transactionDate":"20131231163954","message":"Monnaie
        invalide","responseCode":"204","transactionRef":"1388504385-VAD-495-130-fgj","type":"D","ask3ds":0,"auth3dsCode":null,"auth3dsMessage":null,"enrollment3dsCode":null,"enrollment3dsMessage":null,"askAutor":1,"autorCode":null,"autorNumber":null,"verifyEnrollment3dsMd":null,"verifyEnrollment3dsPareq":null,"verifyEnrollment3dsActionUrl":null,"verifyEnrollment3dsMpi":null}]}'
  recorded_at: Tue, 31 Dec 2013 16:29:26 GMT

